<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= title%></title>
  </head>
  <body>
    <div class="main-container">
      <form action="/addTask" method="POST">
        <input type="text" name="data" />
        <select name="category" id="category_id">
          <option value="College">College</option>
          <option value="Coding Ninjas">Coding Ninjas</option>
          <option value="Personal">Personal</option>
        </select>
        <input type="date" name="date" id="date_id" />
        <button type="submit">Add Task</button>
      </form>

      <ul>
        <% for (let i of task_list) { %>
        <li>
          <p><%= i.category %> <%= i.date %> <%= i.data %></p>
        </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
